name: CI
on:
  push:
    branches:
      - main
  pull_request:

jobs:

  dist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
      - run: uvx --from build pyproject-build --sdist --wheel
      - run: uvx twine check dist/*
      - uses: actions/upload-artifact@v6
        with:
          path: dist/*

  standardjs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
      - run: npm install -g standard
      - run: standard

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: sudo apt-get install -y gettext graphviz
      - uses: astral-sh/setup-uv@v7
      - run: uv run sphinx-build -W -b doctest -b html docs docs/_build

  PyTest:
    needs:
      - standardjs
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
        django-version:
          - "4.2"
          - "5.1"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
      - run: uv run --with Django~=${{ matrix.django-version }}.0 pytest -m "not selenium"
      - uses: codecov/codecov-action@v5

  Selenium:
    needs:
      - standardjs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install Selenium
        run: |
          curl -LsSfO https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
          sudo dpkg -i google-chrome-stable_current_amd64.deb || sudo apt-get -f install -y
      - uses: astral-sh/setup-uv@v7
      - run: uv run pytest -m selenium
      - uses: codecov/codecov-action@v5
